You have to write a Python script that creates a feature group in Hopsworks according to the following specification:

{{ spec.target_feature_group }}

And populates it with the data from these inputs:

{{ spec.inputs }}

By creating and executing a Hopsworks job that has these properties:

{{ spec.job_settings }}

Make sure that the following requirements are met about the created feature group:

{{ spec.requirements }}

And the following expectations about the features are guaranteed:

{{ spec.expectations }}

The feature group creation script should follow these guidelines:

{{ spec.guidelines }}
